.red-text {
  color: red;
}

.timer-field__label {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--main-color);
}

.timer-field__input {
  font-family: inherit;
  font: inherit;
  border: 1px solid var(--main-color);
  outline: none;
  width: 100%;
  height: 1.5rem;
}
