body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #eceff1;
  color: #010b40;
}

.timer {
  background-color: #0e4d92;
  margin: 0 auto;
  width: 360px;
  height: 240px;
  position: relative;
  border-radius: 10px;
}

.timer__heading {
  color: white;
  text-align: center;
  padding-top: 8px;
  letter-spacing: 1.2px;
  font-weight: 500;
}

.timer__tags {
  text-align: center;
}

.timer__tags span {
  background-color: white;
  padding: 5px 10px;
  margin: 0 10px;
  color: #010b40;
  font-weight: bold;
}

.timer__elapsedTime p {
  font-size: 28px;
}

.timer__elapsedTime {
  position: absolute;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 325px;
  height: 130px;
  top: 160px;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  outline: none;
  background: transparent;
  border: 1px solid blue;
  padding: 5px 10px;
  border-radius: 7px;
  color: blue;
  cursor: pointer;
}

.timer__buttons {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  margin: 0 auto;
  margin-top: 5px;
}
